.about-section{
    position: relative;
    top: -7rem;
}

.about-article{
    flex-direction: column;
}

.about-right{
    padding:0;
}

.about-left{
    padding: 0;
}

.about-title {
    font-family: Signika;
    text-align: left;
    margin: 2rem 0 2rem 0;
}
  
.about-content {
    font-family: Poppins;
    text-align: justify;
}

.about-highlight {
    font-weight: bold;
    color: #364130;
}

.star{
    position: absolute;
    z-index: 1;
}

.big-star{
    display: none;
}

.lil-star1{
    left: 15rem;
    animation: slowmo2 8s ease infinite;
}

.lil-star2{
    left: 1rem;
    animation: slowmo1 8s ease infinite;
}

@keyframes slowmo1{
    0%{
        top:100px;
    }
    50%{
        top:250px;
    }
    100%{
        top:100px;
    }
}

@keyframes slowmo2{
    0%{
        top:150px;
    }
    50%{
        top:0px;
    }
    100%{
        top:150px;
    }
}


@media (min-width: 450px){
    .about-section{
        top: -8rem;
    }
}

@media (min-width: 640px){
    .about-section{
        top: -8.5rem;
    }
}

@media (min-width: 768px){
    .about-section{
        top: -9.5rem;
    }
    .big-star{
        display: block;
        left: 3rem;
        animation: slowmo1 8s ease infinite;
    }
    .lil-star1{
        display: none;
    }
    .lil-star2{
        left: 2rem;
    }
}

@media (min-width: 1024px){
    .about-section{
        top: -10.5rem;
        margin-bottom:-6rem;
    }
    .about-article{
        flex-direction: row;
    }
    .about-content {
        text-align: left;
    }
    .about-right{
        width: 50%;
        padding-top: 0;
    }
    .about-left{
        width: 50%;
        padding-right: 4rem;
    }
    .about-title{
        text-align: left;
        margin-top: 0;
    }
}

@media (min-width: 1280px){
    .about-section{
        top: -11rem;
    }
}

@media (min-width:1350px){
    .about-section{
        top: -12.5rem;
    }
}
